
{% extends "index.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success">{{msg}}</div>
{% endif %}


<div class="row">
    <div class="col-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSingleModal"> Add Asset</button>
    </div> 
    <div class="col-3">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addBulkModal">Add Bulk</button>
    </div>
<div class="col-3">
    <a href="/static/template/sample_template.csv">Download Bulk Template</a>
</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

            </div>
            <form action="{{ url_for('views.assetsearch') }}" method="post">

                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="city">Asset Name</label>
                        <input class="form-control" id="AssetName" name="AssetName" value="{{AssetName}}" placeholder="Enter asset Asset name" />
                    </div>
                <!--    <div class="form-group col-sm-4">
                        <label for="postal-code">Location</label>
                        <select id="department" class="form-control" value="{{DepartmentId}}">
                            <option value="0">-Select-</option>
                            @if (departmentModel != null)
                            {
                                foreach (var dept in departmentModel)
                                {
                                    <option value="@dept.DepartmentId">@dept.DepartmentName</option>
                                }
                            }
                        </select>
                    </div> -->
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="city">Start Date</label>
                        <input type="date" id="StartDate" name="StartDate" class="form-control" value="{{StartDate}}" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="postal-code">End Date</label>
                        <input type="date" id="EndDate" name="EndDate" class="form-control" value="{{EndDate}}" />
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="hidden" name="edittype" value="1" />
                        <input type="submit" class="btn btn-primary  px-4">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> List of Active Asset
            </div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Asset Image</th>
                            <th>AssetId</th>
                            <th>Asset Name</th>
                            <th>Asset Type</th>
                            <th>Model No</th>
                            <th>Price</th>
                            <th>Manufacture Date</th>
                            <th>Date Purchase</th>
                            <th>Asset Status</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if assetModel == None %}
                        
                            <tr><td colspan="8">No record found!</td></tr>
                        {% else %}
                                {% for item in assetModel %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td><img src='{{item.UrlFile}}' alt="No image" height="60px" width="60px" ></td>
                                    <td>{{item.AssetId}}</td>
                                    <td>{{item.AssetName}}</td>
                                    <td>
                                        {% for cat in category %}
                                            {% if cat.ID == item.CategoryId %}
                                                <span>{{cat.Name}}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{item.AssetModelNo}}</td>
                                    <td>{{item.Price}}</td>
                                    <td>{{item.ManufactureDate}}</td>
                                    <td>{{item.DatePurchase}}</td>
                                    <td>
                                            {% if item.AssetStatusId != 4 and item.AssetStatusId != 6 and item.AssetStatusId !=7 %}
                                                    
                                            <span class="badge badge-success">
                                                {% if item.AssetStatusId == 1  %}
                                                    <span>New</span>
                                                {% elif item.AssetStatusId == 2 %}
                                                    <span>In Use</span>
                                                {% elif item.AssetStatusId == 3 %}
                                                    <span>Available</span>
                                                {% elif item.AssetStatusId == 5 %}
                                                    <span>Miscellaneous</span>
                                                {% elif item.AssetStatusId == 8 %}
                                                    <span>License Updated</span>
                                                {% elif item.AssetStatusId == 9 %}
                                                    <span>Servicing</span>
                                                {% elif item.AssetStatusId == 10 %}
                                                    <span>Request For Servicing</span>
                                                {%endif%}
                                            </span>
                                        {% else %}
                                            <span class="badge badge-warning">
                                                {% if item.AssetStatusId == 4  %}
                                                    <span>Depreciate</span>
                                                {% elif item.AssetStatusId == 7 %}
                                                    <span>Disposal</span>
                                                {% elif item.AssetStatusId == 6 %}
                                                    <span>Disposal Requested</span>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span>
                                            <a href="editasset/1/{{item.ID}}" class="btn btn-success">
                                            
                                                Edit
                                            </a>
                                           <!-- <a href="{{ url_for('views.asset', id=item.ID)}}" class="btn btn-success" data-toggle="modal" data-target="#addSingleModal">
                                            
                                                Edit
                                            </a> -->
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}

                             {% endif %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- /.col-->
</div>



<!-- Modal -->
<div class="modal fade" id="addSingleModal" tabindex="-1" role="dialog" aria-labelledby="addSingleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSingleModalLabel">
                    {% if post == None %}                   
                        <span>Add</span>

                    {% else %}
                    
                        <span>Edit</span>
                    {% endif %}
                    Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('views.asset') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="ID" id="ID" value="{{ post.Id }}" />
                <input type="hidden" name="UserId" id="UserId" value="{{ session.get('userId') }}"/>
                <input type="hidden" name="UserName" id="UserName" value="{{ session.get('firstname') }}"/>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="city">Asset ID *</label>
                                <input class="form-control" required name="AssetId" id="AssetId" value="{{ post.AssetId}}" type="text" placeholder="Enter asset ID" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="postal-code">Asset Model No*</label>
                                <input class="form-control" required name="AssetModelNo" id="AssetModelNo" value="{{post.AssetModelNo}}" type="text" placeholder="Enter Model number" />
                            </div>
                            <!--<div class="form-group col-sm-4">
                                <label for="postal-code">Asset Type*</label>
                                <select name="AssetType" class="form-control" value="{{AssetType}}" required>
                                    <option value="Tangible">Tangible</option>
                                    <option value="Intangible">Intangible</option>
                                </select>
                                
                            </div> -->
                            
                        </div>
                        <div class="form-group">
                            <label>Asset Name*</label>
                            <input type="text" name="AssetName" required id="AssetName" value="{{AssetName}}" class="form-control" />
                        </div>
                        <div class="row">
                            <div class="form-group  col-sm-6">
                                <label>Description</label>
                                <input type="text" name="Description" id="Description" value="{{Description}}" class="form-control" />

                            </div>
                            <div class="form-group  col-sm-6">
                                <label>Price*</label>
                                <input type="number" name="Price" required id="Price" value="{{Price}}" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="city">Manufacture Date*</label>
                                <input type="date" name="ManufactureDate" required id="ManufactureDate" class="form-control" value="{{ManufactureDate}}" />
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="postal-code">Purchase Date *</label>
                                <input  type="date"  id="DatePurchase" required name="DatePurchase" class="form-control" value="{{DatePurchase}}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="city">Category</label>
                                    <select id="CategoryId" name="CategoryId" class="form-control" value="{{CategoryId}}">
                                     <option value="0">-Select-</option>
                                     {% for item in category %}
                                     <option value="{{item.ID}}">{{item.Name}}</option>
                                     {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="postal-code">Department</label>
                                <select id="DepartmentId" name="DepartmentId" class="form-control" value="{{DepartmentId}}">
                                    <option value="0">-Select-</option>
                                    {% for item in department %}
                                    <option value="{{item.ID}}">{{item.Name}}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="city">Is License?</label>
                                <select class="form-control" id="isLicenseUpdate" value="{{isLicenseUpdate}}" name="isLicenseUpdate">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                                <!--<input type="number" min="0" max="1" name="isLicenseUpdate" id="isLicenseUpdate" value="{{isLicenseUpdate}}"  />-->
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="postal-code">Does warrant?</label>
                                <input type="number" name="Warrant" id="Warrant" class="form-control" value="Warrant" />
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="postal-code">Next Service? (in month)*</label>
                                <input type="number" name="Service" required id="Service" min="0" class="form-control" value="Warrant" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="city">Depreciation (in years)*</label>
                                <input class="form-control" min="0" type="number" required name="Depreciation" id="Depreciation" value="Depreciation" />
                                <div style="display:display">
                                    <label>Asset Status</label>
                                    <select name="AssetStatus" id="AssetStatus" value="{{AssetStatus}}" class="form-control">
                                        <option value="0" selected>-Select-</option>
                                        {% for item in assetstatus %}
                                            {% if item.Id == 1 or item.Id == 2 or item.Id == 3 or item.Id == 5 or item.Id == 8 or item.Id == 9 %} 
                                                <option value="{{item.Id}}">{{item.Status}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="postal-code">Comment</label>
                                <input class="form-control" name="Comment" id="Comment" value="{{Comment}}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="postal-code">Upload Image</label>
                                <input class="form-control" type="file" name="file" /> 
                                <input class="form-control" name="Cost" id="Cost" type="hidden" /> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Save changes" class="btn btn-primary  px-4" />
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addBulkModal" tabindex="-1" role="dialog" aria-labelledby="addBulkModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBulkModalLabel">Upload Bulk Asset</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('views.bulk') }}" method="post" enctype="multipart/form-data">
            <div class="modal-body">
                    <div class="form-group">
                        <label for="city">Upload File</label>
                        <input type="file" class="form-control" name="file" id="file" required placeholder="Upload Asset file" />
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary  px-4" name="Upload assets" />
            </div>
            </form>
        </div>
    </div>
</div>






{% endblock %}